<!-- section comment -->
<!-- comment popup -->
<section
    class="w-screen h-screen fixed flex justify-center max-[810px]:items-end inset-0 top-0 left-0 z-10000 bg-black/20 backdrop-blur-xs"
    *ngIf="isOpen"
    >
    <div class="bg-white/70 backdrop-blur-xs border border-gray-300/50 rounded-xl px-2 || w-2/4 max-[810px]:w-4/4 max-[810px]:h-10/12 max-[810px]:rounded-b-none min-lg:rounded-none relative">
        <div class="w-full h-20 border-b-2 border-gray-400 flex items-center justify-center relative">
            <button
                class="absolute top-6 left-0 z-50 text-transparent text-3xl transition duration-200 rounded-md h-7 w-7 border-2 bg-purple-400 hover:bg-purple-500 flex items-center justify-center cursor-pointer"
                (click)="onClose()">
                <i class="bi bi-x text-white"></i>
            </button>
            <h3 class="text-2xl lg:text-5xl text-black/50 mask-b-from-50% | flex items-center justify-center gap-x-4">
                <i class="bi bi-chat-left-text-fill"></i>
                <span class="">
                     commentaire
                </span>
            </h3>
        </div>

        <!-- affiche-container comment -->
        <div class="w-full lg:h-9/10 h-9/10 overflow-y-scroll  pt-4 relative pb-14 ||">
            <div
                *ngIf="!commentaires.length"
                class="w-full h-full flex items-center justify-center">
                <p class="text-gray-500 text-lg">
                    Aucun commentaire pour le moment
                </p>
            </div>
            <div
                *ngFor="let com of commentaires"
                class="w-full h-auto border-b border-gray-400 last:border-b-0">
                <div class="profileImg flex items-center gap-x-2 mt-4">
                    <i class="bi bi-person-fill text-xl text-gray-500"></i>
                    <strong class="text-gray-500 tracking-wider capitalize">
                        {{com.nom}}
                    </strong>
                </div>
                <div class="content">
                    <div class="message ml-7 text- text-balance font-light || ">
                        {{com.message}}
                    </div>
                    <div class="interaction flex items-center ml-7 mt-4 justify-between ">
                        <span
                            *ngIf="com.date"
                            class="text-xs text-purple-600">
                            <!-- Publié le {{com.date | date: 'short' : 'fr'}} -->
                            Publié le {{ com.date | date: 'dd MMMM yyyy à HH:mm' : 'fr'}}
                              <!-- Publié {{com.relativeDate}} -->
                        </span>
                        <span class="">
                            {{com.appreciation}}
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- // Import the functions you need from the SDKs you need

import { initializeApp } from "firebase/app";

// TODO: Add SDKs for Firebase products that you want to use

// https://firebase.google.com/docs/web/setup#available-libraries


// Your web app's Firebase configuration

const firebaseConfig = {

  apiKey: "AIzaSyBdDJHn8D7dnrgoT5hmziPbYVda56RiO28",

  authDomain: "portfolio-commentaires.firebaseapp.com",

  projectId: "portfolio-commentaires",

  storageBucket: "portfolio-commentaires.firebasestorage.app",

  messagingSenderId: "71840867595",

  appId: "1:71840867595:web:80c2d64e8eb78b9e96ee0e"

};


// Initialize Firebase

const app = initializeApp(firebaseConfig); -->