<!-- section comment -->
<section class="w-screen h-auto flex flex-col gap-y-4 items-center justify-center relative mt-10">
    <!-- title -->
    <h3
        class=" w-full text-2xl lg:text-5xl text-black/50 mask-b-from-50% | flex items-center justify-center gap-x-2 mb-4 font-bold">
        <i class="bi bi-chat-left-text-fill"></i>
        <span>Commentaires</span>
    </h3>

    <!-- comment-container -->
    <div class="w-full h-auto overflow-y-scroll overflow-x-hidden relative mb-5">
        <!-- comment header -->
        <p class="text-3xl max-sm:text-2xl font-bold text-left mb-5 ml-10 max-md:ml-5">
            Ce que les gens disent sur moi !
        </p>
        <!-- comment content -->
        <div
            class="w-full h-auto flex flex-wrap justify-center items-center gap-5 px-10 max-md:px-5">

            <article 
                class="w-80 h-60 border border-purple-200 bg-white rounded-2xl"
                >
            </article>

        </div>

        <!-- add comment -->
        <div>
            <p>
                Vous pouvez laisser un commentaire sur mon site, je serai ravi de le lire et de vous répondre.
                <br>
                Merci pour votre visite !
            </p>
        </div>
        
    </div>
</section>

<!-- // Import the functions you need from the SDKs you need

import { initializeApp } from "firebase/app";

// TODO: Add SDKs for Firebase products that you want to use

// https://firebase.google.com/docs/web/setup#available-libraries


// Your web app's Firebase configuration

const firebaseConfig = {

  apiKey: "AIzaSyBdDJHn8D7dnrgoT5hmziPbYVda56RiO28",

  authDomain: "portfolio-commentaires.firebaseapp.com",

  projectId: "portfolio-commentaires",

  storageBucket: "portfolio-commentaires.firebasestorage.app",

  messagingSenderId: "71840867595",

  appId: "1:71840867595:web:80c2d64e8eb78b9e96ee0e"

};


// Initialize Firebase

const app = initializeApp(firebaseConfig); -->