<main class="h-auto w-screen relative flex flex-col lg:justify-between pt-24 overflow-x-hidden z-10">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs"
        viewBox="0 0 1422 800"
        class="fixed max-md:-top-50 left-0 w-full h-full opacity-20 mask-b-from-50%">
        <g shape-rendering="crispEdges" stroke-linejoin="round" fill="none" stroke-width="2" stroke="#a683b3" >
            <polygon points="1066.5,0 1066.5,100 888.75,0"></polygon>
            <polygon points="1422,0 1066.5,0 1066.5,200"></polygon>
            <polygon points="888.75,100 711,200 888.75,200"></polygon>
            <polygon points="711,100 711,0 888.75,100"></polygon>
            <polygon points="888.75,300 1066.5,200 888.75,200"></polygon>
            <polygon points="888.75,200 888.75,100 1066.5,200"></polygon>
            <polygon points="888.75,200 888.75,300 711,200"></polygon>
            <polygon points="888.75,300 888.75,350 799.875,300"></polygon>
            <polygon points="799.875,350 711,350 711,300"></polygon>
            <polygon points="711,350 799.875,350 799.875,400"></polygon>
            <polygon points="888.75,350 888.75,400 799.875,400"></polygon>
            <polygon points="1066.5,300 1066.5,400 888.75,300"></polygon>
            <polygon points="1422,200 1422,300 1244.25,300"></polygon>
            <polygon points="1244.25,300 1244.25,200 1066.5,200"></polygon>
            <polygon points="1244.25,300 1244.25,400 1066.5,400"></polygon>
            <polygon points="1244.25,400 1422,400 1244.25,300"></polygon>
            <polygon points="711,0 711,100 533.25,100"></polygon>
            <polygon points="355.5,0 533.25,100 533.25,0"></polygon>
            <polygon points="533.25,100 355.5,200 533.25,200"></polygon>
            <polygon points="711,100 711,200 533.25,100"></polygon>
            <polygon points="0,0 0,200 355.5,0"></polygon>
            <polygon points="355.5,200 355.5,300 177.75,300"></polygon>
            <polygon points="0,200 177.75,200 177.75,300"></polygon>
            <polygon points="0,400 177.75,300 0,300"></polygon>
            <polygon points="177.75,300 355.5,400 177.75,400"></polygon>
            <polygon points="711,300 533.25,300 711,200"></polygon>
            <polygon points="533.25,300 533.25,200 355.5,200"></polygon>
            <polygon points="533.25,300 355.5,300 355.5,400"></polygon>
            <polygon points="711,300 711,400 533.25,300"></polygon>
            <polygon points="711,500 711,400 533.25,400"></polygon>
            <polygon points="355.5,500 533.25,500 533.25,400"></polygon>
            <polygon points="533.25,550 444.375,550 444.375,500"></polygon>
            <polygon points="444.375,550 444.375,500 355.5,500"></polygon>
            <polygon points="444.375,600 355.5,550 444.375,550"></polygon>
            <polygon points="533.25,600 533.25,550 444.375,600"></polygon>
            <polygon points="711,500 711,600 533.25,500"></polygon>
            <polygon points="355.5,500 177.75,500 355.5,400"></polygon>
            <polygon points="177.75,500 177.75,400 0,400"></polygon>
            <polygon points="177.75,600 0,600 177.75,500"></polygon>
            <polygon points="355.5,600 177.75,500 355.5,500"></polygon>
            <polygon points="355.5,600 0,600 355.5,800"></polygon>
            <polygon points="711,600 711,700 533.25,700"></polygon>
            <polygon points="533.25,700 533.25,600 355.5,700"></polygon>
            <polygon points="533.25,800 355.5,800 355.5,700"></polygon>
            <polygon points="533.25,700 711,700 533.25,800"></polygon>
            <polygon points="1244.25,400 1422,500 1244.25,500"></polygon>
            <polygon points="1066.5,500 1066.5,400 1244.25,400"></polygon>
            <polygon points="1244.25,500 1244.25,550 1155.375,550"></polygon>
            <polygon points="1155.375,550 1066.5,500 1155.375,500"></polygon>
            <polygon points="1066.5,600 1155.375,600 1066.5,550"></polygon>
            <polygon points="1155.375,600 1155.375,550 1244.25,600"></polygon>
            <polygon points="1244.25,600 1422,600 1422,500"></polygon>
            <polygon points="1066.5,500 1066.5,400 888.75,500"></polygon>
            <polygon points="888.75,450 888.75,400 799.875,400"></polygon>
            <polygon points="799.875,400 711,400 799.875,450"></polygon>
            <polygon points="799.875,450 799.875,500 711,450"></polygon>
            <polygon points="799.875,450 799.875,500 888.75,450"></polygon>
            <polygon points="888.75,500 888.75,550 799.875,500"></polygon>
            <polygon points="799.875,550 711,500 799.875,500"></polygon>
            <polygon points="711,600 799.875,550 711,550"></polygon>
            <polygon points="888.75,550 799.875,550 888.75,600"></polygon>
            <polygon points="977.625,550 1066.5,550 977.625,500"></polygon>
            <polygon points="888.75,550 977.625,550 888.75,500"></polygon>
            <polygon points="977.625,600 977.625,550 888.75,600"></polygon>
            <polygon points="1066.5,600 977.625,600 977.625,550"></polygon>
            <polygon points="1066.5,600 1066.5,700 888.75,700"></polygon>
            <polygon points="888.75,600 711,700 711,600"></polygon>
            <polygon points="888.75,700 711,800 711,700"></polygon>
            <polygon points="1066.5,800 888.75,700 888.75,800"></polygon>
            <polygon points="1422,700 1422,600 1244.25,700"></polygon>
            <polygon points="1244.25,700 1066.5,700 1244.25,600"></polygon>
            <polygon points="1244.25,700 1066.5,700 1244.25,800"></polygon>
            <polygon points="1244.25,700 1422,800 1244.25,800"></polygon>
        </g>
        <g fill="hsl(220, 62%, 45%)" stroke-width="3" stroke="hsl(220, 43%, 13%)"></g>
    </svg>
    <app-header></app-header>

    <section class="h-auto overflow-y-scroll overflow-x-hidden pt-3 lg:pt-2.5 relative flex flex-col">
        <div class="flex flex-col px-10 h-auto w-full overflow-x-hidden | gap-y-5 pt-5 relative || max-md:mb-14">
            <h2 class="text-5xl max-sm:text-2xl border-l-4 pl-3 border-indigo-500 sticky top-0" @sledInUp>
                A propos de moi
                <span class="text-7xl max-sm:text-3xl text-indigo-500">.</span>
            </h2>
            <p class=" text-2xl font-extralight text-justify || max-md:text-base" @faceInDelay>
                Je conçois des applications web & mobiles puissantes, scalables et élégantes, adaptées aux besoins réels des entreprises. Acutuellement étudiant en Bac +5 Informatique, je suis passionné par le développement web et mobile. J'ai acquis une solide expérience dans la création d'applications performantes et intuitives, en utilisant les dernières technologies et frameworks. Mon objectif est de continuer à apprendre et à évoluer dans ce domaine en constante évolution, tout en contribuant à des projets innovants et impactants. Je suis prêt à partager mes compétences et mon enthousiasme avec des équipes passionnées et à relever de nouveaux défis. N'hésitez pas à me contacter pour discuter de collaborations potentielles ou pour en savoir plus sur mon parcours et mes projets.
            </p>

            <div class="max-md:hidden mousse-scroll flex flex-col justify-center items-center w-full mt-34 mb-7 relative">
                <div class="scroll flex flex-col justify-center items-center animate-bounce opacity-0">
                    <i class="bi bi-mouse-fill text-xl text-black/80"></i>
                    <i class="ri-arrow-down-double-line"></i>
                    <p class="text-gray-500 text-sm">Faites défiler vers le bas pour en savoir plus</p>
                </div>
            </div>
        </div>
        <app-education></app-education>
        <app-stacks></app-stacks>
        <app-skills></app-skills>
        <!-- <app-location></app-location> -->
    </section>

</main>
