<main class="min-h-auto w-screen relative flex flex-col lg:justify-between overflow-x-hidden z-10">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.dev/svgjs"
        viewBox="0 0 1422 800"
        class="fixed max-md:-top-50 left-0 w-full h-full opacity-20 mask-b-from-50%">
        <g shape-rendering="crispEdges" stroke-linejoin="round" fill="none" stroke-width="2" stroke="#a683b3" >
            <polygon points="1066.5,0 1066.5,100 888.75,0"></polygon>
            <polygon points="1422,0 1066.5,0 1066.5,200"></polygon>
            <polygon points="888.75,100 711,200 888.75,200"></polygon>
            <polygon points="711,100 711,0 888.75,100"></polygon>
            <polygon points="888.75,300 1066.5,200 888.75,200"></polygon>
            <polygon points="888.75,200 888.75,100 1066.5,200"></polygon>
            <polygon points="888.75,200 888.75,300 711,200"></polygon>
            <polygon points="888.75,300 888.75,350 799.875,300"></polygon>
            <polygon points="799.875,350 711,350 711,300"></polygon>
            <polygon points="711,350 799.875,350 799.875,400"></polygon>
            <polygon points="888.75,350 888.75,400 799.875,400"></polygon>
            <polygon points="1066.5,300 1066.5,400 888.75,300"></polygon>
            <polygon points="1422,200 1422,300 1244.25,300"></polygon>
            <polygon points="1244.25,300 1244.25,200 1066.5,200"></polygon>
            <polygon points="1244.25,300 1244.25,400 1066.5,400"></polygon>
            <polygon points="1244.25,400 1422,400 1244.25,300"></polygon>
            <polygon points="711,0 711,100 533.25,100"></polygon>
            <polygon points="355.5,0 533.25,100 533.25,0"></polygon>
            <polygon points="533.25,100 355.5,200 533.25,200"></polygon>
            <polygon points="711,100 711,200 533.25,100"></polygon>
            <polygon points="0,0 0,200 355.5,0"></polygon>
            <polygon points="355.5,200 355.5,300 177.75,300"></polygon>
            <polygon points="0,200 177.75,200 177.75,300"></polygon>
            <polygon points="0,400 177.75,300 0,300"></polygon>
            <polygon points="177.75,300 355.5,400 177.75,400"></polygon>
            <polygon points="711,300 533.25,300 711,200"></polygon>
            <polygon points="533.25,300 533.25,200 355.5,200"></polygon>
            <polygon points="533.25,300 355.5,300 355.5,400"></polygon>
            <polygon points="711,300 711,400 533.25,300"></polygon>
            <polygon points="711,500 711,400 533.25,400"></polygon>
            <polygon points="355.5,500 533.25,500 533.25,400"></polygon>
            <polygon points="533.25,550 444.375,550 444.375,500"></polygon>
            <polygon points="444.375,550 444.375,500 355.5,500"></polygon>
            <polygon points="444.375,600 355.5,550 444.375,550"></polygon>
            <polygon points="533.25,600 533.25,550 444.375,600"></polygon>
            <polygon points="711,500 711,600 533.25,500"></polygon>
            <polygon points="355.5,500 177.75,500 355.5,400"></polygon>
            <polygon points="177.75,500 177.75,400 0,400"></polygon>
            <polygon points="177.75,600 0,600 177.75,500"></polygon>
            <polygon points="355.5,600 177.75,500 355.5,500"></polygon>
            <polygon points="355.5,600 0,600 355.5,800"></polygon>
            <polygon points="711,600 711,700 533.25,700"></polygon>
            <polygon points="533.25,700 533.25,600 355.5,700"></polygon>
            <polygon points="533.25,800 355.5,800 355.5,700"></polygon>
            <polygon points="533.25,700 711,700 533.25,800"></polygon>
            <polygon points="1244.25,400 1422,500 1244.25,500"></polygon>
            <polygon points="1066.5,500 1066.5,400 1244.25,400"></polygon>
            <polygon points="1244.25,500 1244.25,550 1155.375,550"></polygon>
            <polygon points="1155.375,550 1066.5,500 1155.375,500"></polygon>
            <polygon points="1066.5,600 1155.375,600 1066.5,550"></polygon>
            <polygon points="1155.375,600 1155.375,550 1244.25,600"></polygon>
            <polygon points="1244.25,600 1422,600 1422,500"></polygon>
            <polygon points="1066.5,500 1066.5,400 888.75,500"></polygon>
            <polygon points="888.75,450 888.75,400 799.875,400"></polygon>
            <polygon points="799.875,400 711,400 799.875,450"></polygon>
            <polygon points="799.875,450 799.875,500 711,450"></polygon>
            <polygon points="799.875,450 799.875,500 888.75,450"></polygon>
            <polygon points="888.75,500 888.75,550 799.875,500"></polygon>
            <polygon points="799.875,550 711,500 799.875,500"></polygon>
            <polygon points="711,600 799.875,550 711,550"></polygon>
            <polygon points="888.75,550 799.875,550 888.75,600"></polygon>
            <polygon points="977.625,550 1066.5,550 977.625,500"></polygon>
            <polygon points="888.75,550 977.625,550 888.75,500"></polygon>
            <polygon points="977.625,600 977.625,550 888.75,600"></polygon>
            <polygon points="1066.5,600 977.625,600 977.625,550"></polygon>
            <polygon points="1066.5,600 1066.5,700 888.75,700"></polygon>
            <polygon points="888.75,600 711,700 711,600"></polygon>
            <polygon points="888.75,700 711,800 711,700"></polygon>
            <polygon points="1066.5,800 888.75,700 888.75,800"></polygon>
            <polygon points="1422,700 1422,600 1244.25,700"></polygon>
            <polygon points="1244.25,700 1066.5,700 1244.25,600"></polygon>
            <polygon points="1244.25,700 1066.5,700 1244.25,800"></polygon>
            <polygon points="1244.25,700 1422,800 1244.25,800"></polygon>
        </g>
        <g fill="hsl(220, 62%, 45%)" stroke-width="3" stroke="hsl(220, 43%, 13%)"></g>
    </svg>
    <!-- <app-header></app-header> -->

    <section class="h-auto overflow-y-scroll overflow-x-hidden pt-3 lg:pt-2.5 relative flex flex-col">
        <div class="flex flex-col px-10 h-auto w-full overflow-x-hidden | gap-y-5 pt-5 relative || max-md:mb-14">
            <h2 class="text-5xl max-sm:text-2xl border-l-4 pl-3 border-indigo-500 sticky top-0" @sledInUp>
                A propos de moi
                <span class="text-7xl max-sm:text-3xl text-indigo-500">.</span>
            </h2>
            <p class=" text-2xl font-extralight text-justify || max-md:text-base" @faceInDelay>
                Je conçois des applications web & mobiles puissantes, scalables et élégantes, adaptées aux besoins réels des entreprises.
            </p>
            <p class="text-2xl font-extralight text-justify || max-md:text-base" @faceInDelayXl>

                J'ai un Bac+3 Informatique en Technique de Maintenace et Réseau Informatique. Je suis passionné par le développement web et mobile. Combinant ma progression autodidacte et des formations professionnelles. J'ai acquis une expérience dans la création des sites web et applications web performantes et intuitives, en utilisant les dernières technologies et frameworks en étant toujous dans la veille technologique pour rester à jour.
            </p>
            <p class="text-2xl font-extralight text-justify || max-md:text-base" @faceInDelayXxl>

                Mon objectif est de continuer à apprendre et à évoluer dans ce domaine en constante évolution, tout en contribuant à des projets innovants et impactants. Je suis prêt à partager mes compétences et mon enthousiasme avec des équipes passionnées et à relever de nouveaux défis. N'hésitez pas à me contacter pour discuter de collaborations potentielles ou pour en savoir plus sur mon parcours et mes projets.
            </p>

            <div class="max-md:hidden mousse-scroll flex flex-col justify-center items-center w-full mt-2 mb-7 relative">
                <div class="scroll flex flex-col justify-center items-center animate-bounce opacity-0">
                    <i class="bi bi-mouse-fill text-xl text-black/80"></i>
                    <i class="ri-arrow-down-double-line"></i>
                    <p class="text-gray-500 text-sm">Faites défiler vers le bas pour en savoir plus</p>
                </div>
            </div>
        </div>
        <app-education></app-education>
        <app-stacks></app-stacks>
        <app-skills></app-skills>
        <!-- <app-commentaire></app-commentaire> -->

        <!-- comment section  -->
        <div class="commentDirective w-full max-md:h-auto min-lg:h-130 flex flex-col gap-y-4 items-center justify-start relative mt-10"  appCommentAnimation>
            <h3
                class="commentDirectiv w-full text-2xl lg:text-5xl text-black/50 mask-b-from-50% | flex items-center justify-center gap-x-2 mb-4 font-bold">
                <i class="bi bi-chat-left-text-fill"></i>
                <span>Commentaires</span>
            </h3>

            <div class="commentDirectiv w-full max-md:h-auto min-lg:h-120 flex flex-col justify-between max-md:items-center overflow-x-hidden relative mb-5" >
                <!-- comment header -->
                <div class="w-full min-lg:h-92 h-auto flex flex-col min-lg:flex-row justify-center min-lg:items-center max-sm:justify-start gap-5 px-10 max-md:px-5" >

                    <!-- content text comment -->
                    <div class="w-1/2 max-[810px]:w-full h-auto min-lg:h-full flex-col flex justify-start items-start min-lg:justify-around">
                        <p class="text-2xl max-sm:text-xl text-left">
                            Ce que les gens disent sur moi !
                        </p>
                        <p>
                            Vous pouvez laisser un commentaire sur mon site, je serai ravi de le lire et de vous répondre.
                            <br>
                            <br>
                            Merci pour votre visite !
                        </p>
                        <div class="mt-4">
                            <button
                                (click)="editCom() ; scrollToCommentaireBody()"
                                class="w-50 h-12 rounded-lg bg-purple-500 text-white text-xl tracking-wider cursor-pointer hover:bg-purple-600"
                                >
                                <span *ngIf="!editComment"> Commenter </span>
                                <span *ngIf="editComment">Annuler</span>
                            </button>

                            <div
                                class="flex items-center justify-between relative mt-4 w-50"
                                >
                                <img
                                    src="assets/img/profile/female-2835524_1280.jpg"
                                    alt=""
                                    class="w-10 h-10 rounded-full border-white border-2"
                                >
                                <img
                                    src="assets/img/profile/man-1690965_1280.jpg"
                                    alt=""
                                    class="w-10 h-10 rounded-full border-white border-2 absolute left-[20px]"
                                >
                                <img
                                    src="assets/img/profile/man-1281562_1280.jpg"
                                    alt=""
                                    class="w-10 h-10 rounded-full border-white border-2 absolute left-[40px]"
                                >
                                <img
                                    src="assets/img/profile/man-1845715_1280.jpg"
                                    alt=""
                                    class="w-10 h-10 rounded-full border-white border-2 absolute left-[60px]"
                                >
                                <img
                                    src="assets/img/profile/portrait-7604619_1280.jpg"
                                    alt=""
                                    class="w-10 h-10 rounded-full border-white border-2 absolute left-[80px]"
                                >
                                <button
                                    class="text-gray-500 text-sm cursor-pointer hover:text-purple-500 transition-all duration-200"
                                    (click)="openComment()">
                                    voir plus
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <!-- <app-commentaire
                            [isOpen]="isComment"
                            (closed)="closeComment()">
                        </app-commentaire> -->
                    </div>

                    <!-- card-comment container-->
                    <div
                        *ngIf="commentOnBody"
                        #commentaireBody
                        class="w-1/2 max-[810px]:w-full h-auto relative">

                        <!-- card-comment content -->
                        <div class="w-full h-full relative justify-center items-center gap-2 min-lg:gap-y-2 max-sm:items-start || min-lg:pl-5 max-md:px-[12%] py-4 max-md:mt-4 || max-sm:flex max-sm:flex-col grid grid-cols-2 || ">
                            <div
                            *ngFor="let comment of comments"
                            class="w-68 max-md:w-full h-44 max-md:h-44 border rounded-xl bg-white flex flex-col relative">

                            <div class="flex gap-x-1 font-light p-2">
                                <!-- profile person comment -->
                                <span class="material-icons text-gray-500 min-lg:text-gray-400 min-lg:group-hover:text-purple-500">
                                    person
                                </span>
                                <span class="text-gray-500 min-lg:text-gray-400 min-lg:group-hover:text-purple-500 flex flex-col">
                                    {{comment.name}}
                                </span>
                            </div>

                            <!-- message comment -->
                            <div class="pl-2 opacity-100 h-44 w-full overflow-hidden justify-start ">
                                <p class="text-gray-700 text-sm p-2 text-balance">
                                    {{comment.comment}}
                                </p>
                            </div>
                            <div class="flex items-center justify-between relative h-6">

                                <!-- time comment -->
                                <div class="flex items-center text-gray-500 text-xs p-2">
                                    <!-- <span class="material-icons">
                                        access_time

                                    </span> -->
                                    <span class="text-gray-500 text-xs p-2">
                                        publiée 12/10/2023
                                    </span>
                                </div>

                                <!-- appreciate comment -->
                                <div>
                                    <span class="material-icons text-gray-500 min-lg:text-gray-400 min-lg:group-hover:text-purple-500 p-2">
                                        favorite
                                    </span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- edit comment container -->
                    <div
                        *ngIf="editComment"

                        class="w-1/2 max-md:w-full h-auto relative flex flex-col justify-between items-center gap-y-4">
                        <h2>Laisser un commentaire</h2>

                        <form
                            class="w-full h-auto flex flex-col gap-y-2 || "
                            (ngSubmit)="envoyerCommentaire()">
                            <label
                                class="text-gray-500 font-extralight tracking-widest focus:text-purple-500">
                                votre nom :
                                <input
                                type="text"
                                [(ngModel)]="nom"
                                name="nom"
                                placeholder=""
                                required
                                class="border-b-2 border-gray-400 focus:rounded-xs focus:border-transparent focus:outline-2 focus:outline-purple-500 pl-2 text-sm text-black tracking-wider font-normal"
                            >
                            </label>
                            <textarea
                                [(ngModel)]="message"
                                name="message"
                                placeholder="votre message"
                                required
                                class=" border-2 border-gray-400 rounded-md resize-none focus:border-transparent focus:outline-2 focus:outline-purple-500 || max-h-40 h-40 overflow-hidden placeholder:text-gray-400 px-2 placeholder:font-extralight placeholder:tracking-widest tracking-wider font-light text-balance">
                            </textarea>
                            <span class="font-extralight text-gray-500 tracking-widest">
                                Appreciation :
                            </span>
                            <div class="emoji-select flex gap-x-4">
                                <label
                                    *ngFor="let c of choice"
                                    class="  ">
                                    <input
                                        type="radio"
                                        name="appreciation"
                                        [value]="c"
                                        [(ngModel)]="appreciation"
                                        required
                                        class="cursor-pointer accent-purple-500"
                                        >
                                    <!-- <i
                                        class="bi bi-star-fill ml-2 cursor-pointer {{emojis}}">
                                    </i> -->
                                    <span
                                        class="cursor-pointer">
                                        {{c}}

                                    </span>
                                </label>
                            </div>
                            <button
                                class="bg-purple-500 h-8 rounded-md hover:bg-purple-600 text-white font-light tracking-wider cursor-pointer"
                                type="submit">
                                Envoyer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <app-commentaire
                [isOpen]="isComment"
                (closed)="closeComment()">
        </app-commentaire>
    </section>

</main>
