<section class="onProject min-h-screen w-screen flex flex-col items-start justify-start gap-10 mt-10 transition duration-500 bg-indigo-950 absolute z-50" appProjetBg>
    <div class="w-full h-100 ">

    </div>
    <div class="w-full h-screen flex flex-col items-center justify-center flex-wrap gap-4 p-2">
        <h3 class="pl-8 mt-5 text-2xl font-semibold flex items-center gap-2 text-white mask-auto">
            <span class="material-icons"></span>
            <span>Site web</span>
        </h3>
        <div *ngFor="let p of project ; let i = index" class="group w-3/4 h-[450px] border-2 border-gray-500 rounded-2xl hover:border-indigo-400 overflow-hidden relative transition duration-300">
            <div class="absolute top-[50%] right-[50%] translate-y-[-50%] translate-x-[50%]  w-full h-full group-hover:scale-120 transition-all duration-300 bg-cyan-300 slide-image"
            *ngFor="let slide of slides; let i = index"
                [class.opacity-100]="i === currentIndex"
                [class.opacity-0]="i !== currentIndex">
                <img src="{{slide.imgSlide}}" alt="" class="{{slide.classSlide}}">
            </div>
            <a href="{{slide.projectLink}}" class="opacity-0 link group-hover:opacity-100 absolute flex items-center justify-center top-2 right-2 w-12 h-12 border-2 border-indigo-500 hover:bg-indigo-400 bg-indigo-100 cursor-pointer overflow-hidden rounded-lg transition"
                *ngFor="let slide of slides; let i = index">
                <i class="ri-arrow-right-up-line text-2xl transition-all duration-300"></i>
            </a>
            <div class="absolute flex flex-col items-start justify-end font-semibold gap-2 bottom-0 w-full h-16 group-hover:h-24 mask-t-from-0% group-hover:bg-[#000] transition duration-300">
                <ul class="absolute flex items-center justify-center gap-x-2 top-[0] group-hover:top-[-2px] w-full h-16 transition-all duration-300">
                    <li class="flex ">
                        <button class="w-10 h-12 border border-gray-400 group-hover:border-indigo-400 rounded-lg mx-1 overflow-hidden transition duration-300 thumbnail-button"
                        *ngFor="let slide of slides; let i = index"
                        (click)="goToSlide(i)"
                        [ngClass]="{
                            'border-4 border-indigo-400': i === currentIndex,
                        }"

                            >
                            <!-- [class.bg-transparent]="currentIndexes[i] !== j" -->
                            <!-- [ngClass]="{
                                'border-4': i === currentIndex,
                                'w-12': i === currentIndex,
                                'h-14': i === currentIndex,
                                'bg-transparent': i !== currentIndex
                            }" -->
                            <img [src]="slide.imgSlide" alt="" class="w-full h-full">
                        </button>
                    </li>
                </ul>
                <span class="text-xl text-transparent bg-clip-text bg-gradient-to-t from-white to-black mask-t-from-80% pb-2 pl-2 transition duration-400 absolute"
                    *ngFor="let slide of slides; let i = index"
                    [class.opacity-100]="i === currentIndex"
                    [class.opacity-0]="i !== currentIndex"
                    [ngClass]="{
                        'text-2xl': i === currentIndex,
                        'text-xl': i !== currentIndex
                    }"
                >
                    {{slide.slideTitle}}
                </span>
            </div>
        </div>
    </div>
</section>