<header class="flex w-full h-24 justify-between px-4 pt-2 lg:pt-0 items-center z-2000 backdrop-blur-sm fixed top-0 | bloc">
    <h1
        class="bg-gradient-to-r from-purple-500 to-violet-300 bg-clip-text text-3xl font-extrabold text-transparent"
        [routerLink]="['/home']" @slideHeaderUp>
        Portfolio
    </h1>
    <ul class="hidden min-lg:flex lg:w-3xl justify-around items-center rounded-3xl border-purple-500/50 border | text-purple-700 tracking-wide" @fadeIn>
        <li class="h-11 flex items-center cursor-pointer"
            routerLinkActive="active"
            [routerLink]="['/home']">
            Accueil
        </li>
        <li class="h-11 flex items-center cursor-pointer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/about']">
            A propos
        </li>
        <!-- <li class="h-11 flex items-center cursor-pointer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/project']">
            Projet
        </li> -->
        <li class="h-11 flex items-center cursor-pointer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/contact']">
            Contact
        </li>
    </ul>
    <button
        class="lg:hidden w-10 h-10 z-50 fixed right-4 rounded-xl bg-purple-500 text-white flex items-center justify-center"
        (click)="toggleMenu()"
        >
        <i class="ri-menu-line text-2xl" *ngIf="!isMenuOpen"></i>
        <i class="ri-close-line text-2xl" *ngIf="isMenuOpen"></i>
    </button>
    <!-- <div class="toggle">
    </div> -->
    <app-menu-toggle
        [isOpen]="isMenuOpen"
        (closed)="closeMenu()">
    </app-menu-toggle>

    <img
        src="{{dev.profile}}"
        alt=""
        class="w-10 mask-clip-border rounded-full lg:inline hidden"
    >
</header>