<section class="w-full h-auto flex flex-col items-center justify-center relative ">
    <div class="w-full pl-5 text-xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text | flex items-center gap-x-2 mx-10">
        <span class="material-icons">
            location_pin
        </span>
        <span>Localisation</span>
    </div>
    <div id="map" class="h-[300px] w-[350px] min-md:w-[650px]  overflow-x-hidden relative m-5 rounded-2xl border-2 border-indigo-400">

    </div>

</section>