<div class="w-screen h-auto mt-24 mb-0 pt-10 relative flex flex-col items-center justify-between gap-y-5 bg-white">
    <h2 class="skillDirective text-5xl max-sm:text-2xl mask-b-from-10% font-semibold w-full flex items-center justify-center gap-x-2 lg:mb-10 mb-6 || " appSkillAnimation>
        <i class="ri-stack-line"></i>
        <span>Compétences</span>
    </h2>

    <!-- language et techno  -->
    <div class="stack-conatainer w-full flex flex-col lg:flex-row lg:justify-center items-start lg:items-center gap-5 px-10 max-md:px-5">
        <div class="stackDirective stacks-description lg:w-1/2 w-full h-auto flex flex-col justify-center items-start gap-y-5" appSkillAnimation>
            <span class="font-semibold font-mono border-l-4 pl-2 border-indigo-500">
                technologies
            </span>
            <p class="text-justify text-black">
                je maîtrise une variété de langages de programmation et de technologies, notamment HTML, CSS, JavaScript, TypeScript, Angular, Tailwind CSS, Bootstrap, Git et GitHub. J'utilise ces outils pour créer des applications web modernes et réactives, en mettant l'accent sur la performance et l'accessibilité.
            </p>
        </div>
        <div class="stackDirective stacks-content lg:w-1/2 min-lg:px-14 min-lg:pt-14 w-full h-auto flex flex-wrap justify-center items-center gap-5" appSkillAnimation>
            <div 
                *ngFor="let stack of stacks ; let i = index" 
                class="{{stack.class}}"
                (click)="selectedStack = stack ; updateBodyScrollOnStackOpen()">
                <img src="{{stack.img}}" class="{{stack.classImg}} cursor-pointer" />
                <i class="{{stack.icon}} text-2xl cursor-pointer"></i>
            </div>
        </div>

        <!-- popup affiche stack infos  -->
        <div 
            *ngIf="selectedStack"
            class="fixed inset-0 top-0 left-0 w-full h-full bg-gray-900/50 bg-opacity-50 z-10000 backdrop-blur-xs flex items-center justify-center">

            <div 
                class=" bg-white/50 backdrop-blur-xs border border-gray-500/50 rounded-xl p-5 flex flex-col items-center justify-between gap-y-5 relative || shadow-md max-w-sm w-full max-md:w-3/4 h-1/2 transform transition-all duration-300 scale-95 opacity-0"
                [class.scale-100]="selectedStack"
                [class.opacity-100]="selectedStack">
                <button 
                    class="text-gray-400 border-2 border-gray-400 hover:text-gray-200 hover:border-gray-200 rounded-md h-10 w-10 flex items-center justify-center cursor-pointer absolute right-[-40px] max-md:right-0 top-[-50px] transition duration-200"
                    (click)="selectedStack = null ; updateBodyScrollOnStackClose()">
                    <i class="ri-close-line text-2xl"
                    ></i>
                </button>
                <h3 
                    class="text-xl font-semibold flex justify-center items-center w-full  {{selectedStack.class}}">
                    <img src="{{selectedStack.img}}" class="w-8 mr-2" alt="">
                    <i class="{{selectedStack.icon}} mr-2 text-3xl"></i>
                    <span>
                        {{selectedStack.name}}
                    </span>
                </h3>
                <div class="flex flex-col items-center justify-between gap-y-2 h-3/4">
                    <i class="{{selectedStack.illustration}} text-8xl mt-6 text-gray-400"></i>
                    <p 
                    class="text-gray-500">
                    {{selectedStack.description}}
                    </p>
                </div>
            </div>
        </div>
        <!-- ================== -->
    </div>

    <!-- mockup project mobile-view -->
    <div class="mockup-conatainer w-full h-full flex flex-col-reverse lg:flex-row lg:justify-center items-start lg:items-center gap-5 px-10 max-md:px-5 mt-10 min-lg:mt-10 relative">
        <div class="stackDirective mockup-content lg:w-1/2 w-full h-auto flex flex-wrap justify-center items-center gap-5" appSkillAnimation>
            <img src="assets/img/mock/mobile/portfolio:project mobile-view-half mockup.png" class="w-60 h-auto rounded-lg shadow-md" alt="">
        </div>
        
        <div class="stackDirective mockup-description lg:w-1/2 w-full h-auto flex flex-col justify-center items-start gap-y-5" appSkillAnimation>
            <span class="font-semibold font-mono w-full min-lg:flex min-lg:justify-end min-lg:border-l-0 min-lg:border-r-4 min-lg:pr-2 border-l-4 pl-2 min-lg:pl-0 border-indigo-500">
                Interface
            </span>
            <p class="text-justify text-black">
                Je conçois des sites pour être accessible et responsive, garantissant une expérience utilisateur optimale sur tous les appareils. Les technologies modernes utilisées assurent une navigation fluide et intuitive.
            </p>
        </div>
    </div>
    <!-- parcours -->
    <div class="stackDirective mockup-description w-full h-auto flex flex-col justify-center items-start gap-y-5 px-10 max-md:px-5 mt-14" appSkillAnimation>
        <span class="font-semibold font-mono w-full border-l-4 pl-2 border-indigo-500">
            Parcours
        </span>
        <p class="text-justify">
            Les bases de mon parcours en programmation
        </p>
    </div>
</div>
