main{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.change{
    background: rgb(12, 12, 32);
    transition: .3s ease;
}
.changeBg{
    transition: all .3s ease;
}