main{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.change{
    /* background: #09072e; */
    transition: 300ms ease;
}
.changeBg{
    transition: all .3s ease;
}