<div class="h-[1240px] w-screen flex flex-col justify-start relative mt-5">
    <div appSkillAnimation>
        <h3 class="w-full pl-5 text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text | flex items-center gap-x-2 mx-1 transition duration-300">
            <span class="material-icons">
                layers
            </span>
            <span>Stacks </span>
        </h3>
    </div>
    <div class="w-full h-[490px] relative mt-3">
        <span class="home material-icons pl-5 | text-transparent bg-gradient-to-br from-indigo-400 to-pink-400 bg-clip-text">sports_score</span>

        <!-- icin de pas  -->
        <i class="foot ri-footprint-fill top-10 left-7 rotate-z-[170deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-25 left-10 rotate-z-[155deg] transition duration-300" appSkillAnimation></i>
        <!-- <i class="foot ri-footprint-fill top-30 left-10 rotate-z-[150deg] transition duration-300" appSkillAnimation></i> -->
        <i class="foot ri-footprint-fill top-35 left-18 rotate-z-[140deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill top-70 left-55 rotate-z-[130deg] transition duration-300 || max-sm:left-[66%]" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-85 left-65 rotate-z-[125deg] transition duration-300 || max-sm:rotate-z-[145deg] max-sm:left-[78%] max-sm:top-80 text-pink-600" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-95 left-78 rotate-z-[120deg] transition duration-300 || max-sm:left-[88%] max-sm:top-95 max-sm:rotate-z-[175deg]" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-105 left-95 rotate-z-[115deg] transition duration-300 || max-sm:left-[85%] max-sm:top-113 max-sm:rotate-z-[210deg]" appSkillAnimation></i>
        
        <i class="foot ri-footprint-fill top-135 left-155 rotate-z-[115deg] || max-md:rotate-z-[120deg] || max-sm:rotate-z-[225deg] max-sm:left-[15%] max-sm:top-155 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-145 left-170 rotate-z-[110deg] || max-sm:rotate-z-[190deg] max-sm:left-[5%] max-sm:top-165 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-153 left-185 rotate-z-[105deg] || max-md:rotate-z-[165deg] || max-sm:rotate-z-[160deg] max-sm:left-[5%] max-sm:top-180 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-160 left-200 rotate-z-[95deg] || max-md:left-180 max-md:top-175 max-md:rotate-z-[185deg] || max-sm:left-[13%] max-sm:top-193 max-sm:rotate-z-[140deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill top-165 left-215 rotate-z-[95deg] || max-md:hidden || max-sm:inline max-sm:left-[53%] max-sm:top-220 max-sm:rotate-z-[125deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-170 left-230 rotate-z-[110deg] || max-md:hidden || max-sm:inline max-sm:left-[65%] max-sm:top-230 max-sm:rotate-z-[135deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-175 left-245 rotate-z-[125deg] || max-md:hidden || max-sm:inline max-sm:left-[75%] max-sm:top-240 max-sm:rotate-z-[145deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill top-215 left-265 rotate-z-[185deg] || max-md:left-230 transition || max-sm:left-[80%] max-sm:top-252 max-sm:rotate-z-[175deg] duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-230 left-260 rotate-z-[205deg] || max-sm:left-[78%] max-sm:top-265 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-243 left-245 rotate-z-[225deg] || max-sm:hidden transition duration-300" appSkillAnimation></i>
        


        <!-- langue maitrisee-->
         <div class="base absolute top-40 left-20 flex flex-col justify-center items-center">
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Basics</span>
            <div class="flex flex-col items-center">
                <span class="flex flex-col items-center">
                    <i class="ri-html5-line text-2xl text-pink-600"></i>
                    <span class="text-sm ">html</span>
                </span>
                <div class="flex items-end gap-x-10">
                    <span class="flex flex-col items-center pl-2">
                        <i class="ri-css3-line text-2xl text-blue-600"></i>
                        <span class="text-sm">css</span>
                    </span>
                    <span class="flex flex-col items-center">
                        <img src="https://i.ibb.co/qY0hKgcG/js.png" class=" w-5 mb-1 border rounded-sm"/>
                        <span class="text-sm">javascript</span>
                    </span>
                </div>
            </div>
         </div>
         <div class="framework w-52 absolute top-100 left-105 flex flex-col justify-center items-center || max-sm:left-[28%] max-sm:top-120">
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Frameworks</span>
            <div class="grid grid-cols-2 gap-5 items-center">
                <span class="flex flex-col items-center">
                    <i class="ri-angularjs-fill text-2xl text-pink-600"></i>
                    <span class="text-sm ">Angular.js</span>
                </span>
                <span class="flex flex-col items-center pl-2">
                    <img src="https://i.ibb.co/Wv0wRDyj/typescript-icon.webp" class="w-5 mb-1 border rounded-sm">
                    <span class="text-sm">typeScript</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/wh1f0vMJ/tailwindcss-icon.png" class="ri-javascript-line w-7 mb-1"/>
                    <span class="text-sm">tailwindCss</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/N6qbWxhw/bootstrap-logo.png" class="ri-javascript-line w-7 rounded-sm mb-1 "/>
                    <span class="text-sm">bootstrap</span>
                </span>
            </div>
         </div>
         <div class="versioning w-52 absolute top-190 left-235 flex flex-col justify-center items-center || max-md:left-150 || max-sm:left-[10%] max-sm:top-205">
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Versioning </span>
            <div class="grid grid-cols-2 gap-2 items-center mt-2">
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/spNKdLJh/gite.png" class="text-2xl text-pink-600 w-7">
                    <span class="text-sm ">git</span>
                </span>
                <span class="flex flex-col items-center">
                    <i class="ri-github-fill text-2xl"></i>
                    <span class="text-sm">github</span>
                </span>
                <!-- <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/wh1f0vMJ/tailwindcss-icon.png" class="ri-javascript-line w-7 mb-1"/>
                    <span class="text-sm">tailwindCss</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/N6qbWxhw/bootstrap-logo.png" class="ri-javascript-line w-7 rounded-sm mb-1 "/>
                    <span class="text-sm">bootstrap</span>
                </span> -->
            </div>
         </div>
         <div class="hosting w-52 absolute top-250 left-200 flex flex-col justify-center items-center || max-sm:left-[35%] max-sm:top-270">
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Hosting </span>
            <div class="grid grid-cols-2 gap-2 items-center mt-2">
                <span class="flex flex-col gap-y-1 items-center">
                    <img src="https://i.ibb.co/twmtcFZC/triangle.png" class="text-2xl text-pink-600 w-6">
                    <span class="text-sm ">vercel</span>
                </span>
                <span class="flex flex-col items-center">
                    <i class="ri-github-fill text-2xl" appSkillAnimation></i>
                    <span class="text-sm" appSkillAnimation>github page</span>
                </span>
            </div>
         </div>

    </div>
</div>
