<div class="h-[1240px] w-screen flex flex-col justify-start relative border">
    <div appSkillAnimation>
        <h3 class="w-full pl-5 text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text | flex items-center gap-x-2 mx-1 transition duration-300">
            <span class="material-icons">
                psychology
            </span>
            <span>Techno et Compétence </span>
        </h3>
    </div>
    <div class="w-full h-[490px] relative ">
        <span class="home material-icons pl-5 | text-transparent bg-gradient-to-br from-indigo-400 to-pink-400 bg-clip-text">dashboard</span>

        <!-- icin de pas  -->
        <i class="foot ri-footprint-fill top-10 left-7 rotate-z-[170deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-25 left-10 rotate-z-[155deg] transition duration-300" appSkillAnimation></i>
        <!-- <i class="foot ri-footprint-fill top-30 left-10 rotate-z-[150deg] transition duration-300" appSkillAnimation></i> -->
        <i class="foot ri-footprint-fill top-40 left-18 rotate-z-[140deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill top-75 left-55 rotate-z-[130deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-85 left-65 rotate-z-[125deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-95 left-78 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-105 left-95 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        
        <i class="foot ri-footprint-fill top-135 left-155 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-145 left-170 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-155 left-185 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-165 left-200 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill top-165 left-200 rotate-z-[115deg] transition duration-300" appSkillAnimation></i>
        


        <!-- langue maitrisee-->
         <div class="base absolute top-40 left-20 flex flex-col justify-center items-center">
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Base</span>
            <div class="flex flex-col items-center">
                <span class="flex flex-col items-center">
                    <i class="ri-html5-line text-2xl text-pink-600"></i>
                    <span class="text-sm ">html</span>
                </span>
                <div class="flex items-end gap-x-10">
                    <span class="flex flex-col items-center pl-2">
                        <i class="ri-css3-line text-2xl text-blue-600"></i>
                        <span class="text-sm">css</span>
                    </span>
                    <span class="flex flex-col items-center">
                        <img src="https://i.ibb.co/qY0hKgcG/js.png" class=" w-5 mb-1 border rounded-sm"/>
                        <span class="text-sm">javascript</span>
                    </span>
                </div>
            </div>
         </div>
         <div class="base w-52 absolute top-100 left-105 flex flex-col justify-center items-center">
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Frameworks</span>
            <div class="grid grid-cols-2 gap-5 items-center">
                <span class="flex flex-col items-center">
                    <i class="ri-angularjs-fill text-2xl text-pink-600"></i>
                    <span class="text-sm ">Angular.js</span>
                </span>
                <span class="flex flex-col items-center pl-2">
                    <img src="https://i.ibb.co/Wv0wRDyj/typescript-icon.webp" class="w-5 mb-1 border rounded-sm">
                    <span class="text-sm">typeScript</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/wh1f0vMJ/tailwindcss-icon.png" class="ri-javascript-line w-7 mb-1"/>
                    <span class="text-sm">tailwindCss</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/N6qbWxhw/bootstrap-logo.png" class="ri-javascript-line w-7 rounded-sm mb-1 "/>
                    <span class="text-sm">bootstrap</span>
                </span>
            </div>
         </div>

    </div>
</div>
