<div class="h-[1240px] w-screen flex flex-col justify-start relative mt-5">
    <div >
        <h3 class="title-skill w-full pl-5 text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text | flex items-center gap-x-2 mx-1 transition duration-300" appSkillAnimation>
            <span class="material-icons">
                layers
            </span>
            <span>Stacks </span>
        </h3>
    </div>
    <div class="w-full h-[490px] relative mt-3">
        <span class="home material-icons pl-5 | text-transparent bg-gradient-to-br from-indigo-400 to-pink-400 bg-clip-text transition duration-300" appSkillAnimation>sports_score</span>

        <!-- icin de pas  -->
        <i class="foot ri-footprint-fill min-lg:top-10 top-10 min-lg:left-7 left-7 min-lg:rotate-z-[170deg] rotate-z-[170deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-25 top-25 min-lg:left-10 left-10 min-lg:rotate-z-[155deg] rotate-z-[155deg] transition duration-300" appSkillAnimation></i>
        <!-- <i class="foot ri-footprint-fill top-30 left-10 rotate-z-[150deg] transition duration-300" appSkillAnimation></i> -->
        <i class="foot ri-footprint-fill min-lg:top-35 top-35 min-lg:left-18 left-18 min-lg:rotate-z-[140deg] || rotate-z-[140deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill min-lg:top-70 min-lg:left-55 min-lg:rotate-z-[130deg] transition duration-300 || max-sm:left-[66%] max-sm:top-70 max-sm:rotate-z-[130deg]" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-85 min-lg:left-65 min-lg:rotate-z-[125deg] transition duration-300 || max-sm:rotate-z-[145deg] max-sm:left-[78%] max-sm:top-80" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-95 min-lg:left-78 min-lg:rotate-z-[120deg] transition duration-300 || max-sm:left-[88%] max-sm:top-95 max-sm:rotate-z-[175deg]" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-105 min-lg:left-95 min-lg:rotate-z-[115deg] transition duration-300 || max-sm:left-[85%] max-sm:top-113 max-sm:rotate-z-[210deg]" appSkillAnimation></i>
        
        <i class="foot ri-footprint-fill min-lg:top-135 min-lg:left-155 min-lg:rotate-z-[115deg] || min-md:rotate-z-[120deg] || max-sm:rotate-z-[225deg] max-sm:left-[15%] max-sm:top-155 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-145 min-lg:left-170 min-lg:rotate-z-[110deg] || min-md:rotate-z-[140deg] || max-sm:rotate-z-[190deg] max-sm:left-[5%] max-sm:top-165 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-153 min-lg:left-185 min-lg:rotate-z-[105deg] || min-md:rotate-z-[160deg] min-md:top-160 min-md:left-180 || max-sm:rotate-z-[160deg] max-sm:left-[5%] max-sm:top-180 transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-160 min-lg:left-200 min-lg:rotate-z-[95deg] || min-md:left-185 min-md:top-175 min-md:rotate-z-[180deg] || max-sm:left-[13%] max-sm:top-193 max-sm:rotate-z-[140deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill min-lg:top-165 min-lg:left-215 min-lg:rotate-z-[95deg] || min-md:left-185 min-md:top-190 min-md:rotate-z-[190deg] || max-sm:inline max-sm:left-[53%] max-sm:top-220 max-sm:rotate-z-[125deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-170 min-lg:left-230 min-lg:rotate-z-[110deg] || min-md:left-180 min-md:top-200 min-md:rotate-z-[200deg] || max-sm:inline max-sm:left-[65%] max-sm:top-230 max-sm:rotate-z-[135deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-175 min-lg:left-245 min-lg:rotate-z-[125deg] || min-md:left-170 min-md:top-210 min-md:rotate-z-[215deg] || max-sm:inline max-sm:left-[75%] max-sm:top-240 max-sm:rotate-z-[145deg] transition duration-300" appSkillAnimation></i>

        <i class="foot ri-footprint-fill min-lg:min-lg:top-215 min-lg:left-265 min-lg:rotate-z-[185deg] || min-md:left-130 min-md:top-235 min-md:rotate-z-[235deg] || max-sm:left-[80%] max-sm:top-252 max-sm:rotate-z-[175deg]  transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-230 min-lg:left-260 min-lg:rotate-z-[205deg] || min-md:left-110 min-md:top-245 min-md:rotate-z-[245deg] || max-sm:left-[78%] max-sm:top-265 max-sm:rotate-z-[190deg] transition duration-300" appSkillAnimation></i>
        <i class="foot ri-footprint-fill min-lg:top-243 min-lg:left-245 min-lg:rotate-z-[225deg] || min-md:left-90 min-md:top-255 min-md:rotate-z-[250deg] || max-sm:hidden transition duration-300" appSkillAnimation></i>
        


        <!-- langue maitrisee-->
        <div class="base absolute top-40 left-20 flex flex-col justify-center items-center transition duration-300" appSkillAnimation>
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Basics</span>
            <div class="flex flex-col items-center">
                <span class="flex flex-col items-center">
                    <i class="ri-html5-line text-2xl text-pink-600"></i>
                    <span class="text-sm ">html</span>
                </span>
                <div class="flex items-end gap-x-10">
                    <span class="flex flex-col items-center pl-2">
                        <i class="ri-css3-line text-2xl text-blue-600"></i>
                        <span class="text-sm">css</span>
                    </span>
                    <span class="flex flex-col items-center">
                        <img src="https://i.ibb.co/qY0hKgcG/js.png" class=" w-5 mb-1 border rounded-sm"/>
                        <span class="text-sm">javascript</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="framework w-52 absolute min-lg:top-100 min-lg:left-105 flex flex-col justify-center items-center || max-sm:left-[28%] max-sm:top-120 transition duration-300" appSkillAnimation>
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Frameworks</span>
            <div class="grid grid-cols-2 gap-5 items-center">
                <span class="flex flex-col items-center">
                    <i class="ri-angularjs-fill text-2xl text-pink-600"></i>
                    <span class="text-sm ">Angular.js</span>
                </span>
                <span class="flex flex-col items-center pl-2">
                    <img src="https://i.ibb.co/Wv0wRDyj/typescript-icon.webp" class="w-5 mb-1 border rounded-sm">
                    <span class="text-sm">typeScript</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/wh1f0vMJ/tailwindcss-icon.png" class="ri-javascript-line w-7 mb-1"/>
                    <span class="text-sm">tailwindCss</span>
                </span>
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/N6qbWxhw/bootstrap-logo.png" class="ri-javascript-line w-7 rounded-sm mb-1 "/>
                    <span class="text-sm">bootstrap</span>
                </span>
            </div>
         </div>
         <div class="versioning w-52 absolute min-lg:top-190 min-lg:left-235 flex flex-col justify-center items-center || min-md:left-125 min-md:top-215 || max-sm:left-[10%] max-sm:top-205 transition duration-300" appSkillAnimation>
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Versioning </span>
            <div class="grid grid-cols-2 gap-2 items-center mt-2">
                <span class="flex flex-col items-center">
                    <img src="https://i.ibb.co/spNKdLJh/gite.png" class="text-2xl text-pink-600 w-7">
                    <span class="text-sm ">git</span>
                </span>
                <span class="flex flex-col items-center">
                    <i class="ri-github-fill text-2xl"></i>
                    <span class="text-sm">github</span>
                </span>
            </div>
         </div>
         <div class="hosting w-52 absolute min-lg:top-250 min-lg:left-200 flex flex-col justify-center items-center || min-md:left-40 || max-sm:left-[35%] max-sm:top-270 transition duration-300" appSkillAnimation>
            <span class="text-2xl text-transparent bg-gradient-to-br from-indigo-500 to-pink-500 bg-clip-text">Hosting </span>
            <div class="grid grid-cols-2 gap-2 items-center mt-2">
                <span class="flex flex-col gap-y-1 items-center">
                    <img src="https://i.ibb.co/twmtcFZC/triangle.png" class="text-2xl text-pink-600 w-6">
                    <span class="text-sm ">vercel</span>
                </span>
                <span class="flex flex-col items-center">
                    <i class="ri-github-fill text-2xl" appSkillAnimation></i>
                    <span class="text-sm" appSkillAnimation>github page</span>
                </span>
            </div>
         </div>

    </div>
</div>
