/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';
@import 'leaflet/dist/leaflet.css';


.animate-on-scroll{
    opacity: 0;
    transform: translateY(30px);
    transition: all .6s ease-out;
}
.visible{
    opacity: 1;
    transform: translateY(0);
}